* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Sora, sans-serif;
    background: #131517;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.25;
    color: #f9f9f9;
}

/* Header */
.header {
    margin-top: 40px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 10px 18px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #858b93;
}

.navbar__link:hover {
    opacity: 0.8;
}

.navbar__link-active {
    color: #f9f9f9;
    position: relative;
}

.navbar__link-active::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: #6aea5c;
    left: 18px;
    bottom: 5px;
}

.header__cta {
    text-align: center;
    line-height: 40px;
    height: 40px;
    min-width: 110px;
    border: 1px solid #272633;
    border-radius: 8px;
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Hero */
.hero {
    margin-top: 89px;
}
.hero__content {
    position: relative;
}

.hero__inner {
    padding-top: 89px;
    margin: 0 180px;
    text-align: center;
}

.hero__heading {
    font-weight: 700;
    font-size: 6rem;
    line-height: 1.17;
    color: #f9f9f9;
}

.hero__heading--color {
    background: linear-gradient(to right, #eb9204, #83e868);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
}

.hero__heading--color::after {
    content: "";
    position: absolute;
    inset: -4px -6px -4px -4px;
    border: 2px dashed #fff;
    margin-right: 10px;
    background: #20262d;
    z-index: -1;
}

.hero__heading-decor {
    position: absolute;
    width: 10px;
    height: 10px;
}

.hero__heading-decor:nth-child(1) {
    border-radius: 50% 50% 0% 50%;
    background: #ae8ff9;
    top: -15px;
    left: -15px;
}

.hero__heading-decor:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background: #ef8f00;
    top: -15px;
    right: -5px;
}

.hero__heading-decor:nth-child(3) {
    border-radius: 0 50% 50% 50%;
    background: #0cce84;
    bottom: -15px;
    right: -5px;
}

.hero__heading-decor:nth-child(4) {
    border-radius: 50% 0 50% 50%;
    background: #ff7667;
    bottom: -15px;
    left: -15px;
}

.hero__content-decor {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.hero__desc {
    max-width: 447px;
    font-size: 1.6rem;
    line-height: 1.62;
    text-align: center;
    margin: 34px auto 44px;
    color: #858b93;
}

.hero__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.hero__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 54px;
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    font-size: 1.6rem;
    line-height: 1.62;
    color: #f9f9f9;
}

.hero__btn:nth-child(2) {
    background: #282c30;
}

.hero__content-decor--left {
    top: 0;
    left: 0;
}

.hero__content-decor--right {
    top: 0;
    right: 0;
}

.hero__content-decor-1 {
    width: 121px;
    height: 121px;
    border-radius: 50%;
    background: linear-gradient(
        179.83deg,
        #111118 6.06%,
        rgba(43, 43, 61, 0) 119.38%
    );
    box-shadow: inset 0px 39px 31px #313141;
}

.hero__content-decor-2 {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: linear-gradient(
        179.83deg,
        #111118 6.06%,
        rgba(43, 43, 61, 0) 119.38%
    );
    box-shadow: inset 0px 39px 31px #313141;
}

.hero__content-decor-3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(
        179.83deg,
        #111118 6.06%,
        rgba(43, 43, 61, 0) 119.38%
    );
    box-shadow: inset 0px 39px 31px #313141;
}

.hero__content-decor-4 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: linear-gradient(
        179.83deg,
        #111118 6.06%,
        rgba(43, 43, 61, 0) 119.38%
    );
    box-shadow: inset 0px 39px 31px #313141;
}

.hero__media {
    display: flex;
    justify-content: center;
    margin-top: 111px;
    padding-bottom: 146px;
    position: relative;
}

.hero__media::after {
    position: absolute;
    content: "";
    width: 154px;
    height: 154px;
    background: linear-gradient(183.21deg, #8ae764 1.17%, #e99506 115.87%);
    box-shadow: inset 0px 39px 31px #113719;
    border-radius: 50%;
    right: 90px;
    top: 158px;
    z-index: -1;
}

.hero__media::before {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    background: linear-gradient(
        179.83deg,
        #111118 6.06%,
        rgba(43, 43, 61, 0) 119.38%
    );
    box-shadow: inset 0px 39px 31px #313141;
    border-radius: 50%;
    bottom: 73px;
    left: -46px;
    z-index: -1;
}

.hero__media-img {
    height: 366px;
    width: 848px;
    object-fit: cover;
}

.hero-collection {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 216px;
    padding: 26px 15px;
    background: #0d1012;
    border-radius: 15px 15px 22px 22px;
}

.hero-collection__heading {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.hero-collection__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.28;
    color: #f9f9f9;
}

.hero-collection__list {
    margin-top: 21px;
}

.hero-collection__item {
    padding: 12px;
    background: #14181b;
    border-radius: 13px;
}

.hero-collection__item + .hero-collection__item {
    margin-top: 7px;
}

.hero-collection__desc {
    font-size: 1rem;
    line-height: 1.3;
    color: #858b93;
}

.hero-collection__item-top {
    position: relative;
    padding-left: 42px;
}

.hero-collection__item-top::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 33px;
    height: 33px;
    background: #ff7667;
    border-radius: 12px;
    margin-right: 10px;
}

.hero-collection__item:nth-child(2) .hero-collection__item-top::before {
    background: #ae8ff9;
}

.hero-collection__item:nth-child(3) .hero-collection__item-top::before {
    background: #0cce84;
}

.hero-collection__item-bottom {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.hero-collection__skeleton {
    width: 139px;
    height: 3px;
    background: #272633;
    position: relative;
}

.hero-collection__skeleton::before {
    content: "";
    height: 100%;
    width: 32px;
    background: #ff7667;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-collection__item:nth-child(2) .hero-collection__skeleton::before {
    background: #ae8ff9;
}

.hero-collection__item:nth-child(3) .hero-collection__skeleton::before {
    background: #0cce84;
}

.hero-collection__task {
    font-size: 1rem;
    line-height: 1.3;
    color: #858b93;
    padding-left: 8px;
}

/* Services */
.services {
    margin-top: 140px;
}

.servives__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px;
    padding: 70px;
    background: #282c30;
    border-radius: 27px;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    column-gap: 145px;
}

.services-item:nth-child(2) .serveces-item__img-wrap {
    position: relative;
}

.services-item:nth-child(2) .serveces-item__img-wrap::before,
.services-item:nth-child(2) .serveces-item__img-wrap::after {
    position: absolute;
    content: "";
    width: 195px;
    border: 1px dashed #858b93;
}

.services-item:nth-child(2) .serveces-item__img-wrap::after {
    top: 50%;
    right: calc(65px + 45px);
}

.services-item:nth-child(2) .serveces-item__img-wrap::before {
    top: 50%;
    left: calc(65px + 45px);
}

.services-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.45;
    color: #f9f9f9;
    margin: 30px 0 5px;
}

.services-item__desc {
    font-size: 1.6rem;
    line-height: 1.62;
    color: #858b93;
    max-width: 240px;
}

/* Task */
.task {
    margin-top: 157px;
}

.task__inner {
    display: flex;
    align-items: center;
    column-gap: 270px;
}

.task__content-heading {
    max-width: 368px;
}

.task__content-decor {
    background: linear-gradient(to right, #eb9204, #83e868);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.task__content-desc {
    margin-top: 22px;
    max-width: 537px;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #858b93;
}

.task__active {
    display: flex;
    column-gap: 17px;
    margin-top: 86px;
    text-align: center;
}

.task__active-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 132px;
    height: 127px;
    background: #272633;
    border-radius: 9px;
}

.task__active-cicle {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #f9f9f94d;
}

.task__active-cicle-active {
    background: #ef8f00;
}

.task__highlight {
    margin-top: 28px;
    background: linear-gradient(
        191.94deg,
        #c4f566 -43.72%,
        #ae8ef9 -5.87%,
        #ef8f00 52.36%,
        #61e559 122.78%
    );
}

.task__highlight .task__active-desc {
    color: #fff;
}

.task__active-number {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.26;
    color: #f9f9f9;
}

.task__active-desc {
    font-size: 1.6rem;
    line-height: 1.62;
    color: #858b93;
    max-width: 90px;
}

.task__media {
    position: relative;
}

.task__media-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background: #6aea5c;
    position: relative;
    outline: 2px dashed #2f2f2f;
    outline-offset: 92px;
    position: relative;
}

.task__media-decor::before {
    position: absolute;
    content: "";
    width: 209px;
    height: 209px;
    border-radius: 50%;
    background: rgba(106, 234, 92, 0.5);
    outline: 2px dashed #2f2f2f;
    outline-offset: 116px;
}

.task__media-decor::after {
    position: absolute;
    content: url(../icon/task-04.svg);
    z-index: -1;
}

.task-media-btn:nth-of-type(1) {
    position: absolute;
    left: -210px;
    top: -130px;
}

.task-media-btn:nth-of-type(2) {
    position: absolute;
    right: -195px;
    top: -135px;
}

.task-media-btn:nth-of-type(3) {
    position: absolute;
    left: -250px;
    bottom: -50px;
}

.task-media-btn:nth-of-type(4) {
    position: absolute;
    right: -228px;
    bottom: -100px;
}

.task-media-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    width: 225px;
    height: 60px;
    background: #27292c;
    border-radius: 5px;
    outline: none;
    border: none;
}

.task-media-btn__desc {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.28;
}

.task-media-btn__desc-online {
    background: linear-gradient(89.86deg, #ef8f00 -6.27%, #ff7667 90.08%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.task-media-btn__desc-exercitation {
    background: linear-gradient(89.93deg, #0cce84 3.45%, #ae8ef9 99.07%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.task-media-btn__desc-task {
    background: linear-gradient(92.64deg, #c4f566 -11.2%, #ff6e6e 123.12%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.task-media-btn__desc-design {
    background: linear-gradient(92.64deg, #c4f566 -11.2%, #ff6e6e 123.12%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.task-media-btn__decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #363a3e;
}

.task-media-btn__left {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.task-media-btn__list {
    display: flex;
}

.task-media-btn__img {
    display: inline-block;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.task-media-btn__img + .task-media-btn__img {
    margin-left: -11px;
}

/* Feature */
.feature {
    margin-top: 140px;
    background: #191b1d;
}

.feature__inner {
    padding: 153px 0;
    display: flex;
    justify-content: center;
    column-gap: 232px;
}

.feature__list {
    display: flex;
    column-gap: 98px;
    align-items: center;
    justify-content: center;
}

.feature__list::after {
    content: "";
    position: absolute;
    width: 267px;
    height: 267px;
    background: linear-gradient(
        180deg,
        #6aea5c 0%,
        #fd7566 48.53%,
        #ef8f00 100%
    );
    filter: blur(66px);
}

.feature__left {
    position: relative;
}

.feature-item {
    height: 378px;
    width: 98px;
    border-left: 1.5px dashed #d0d0d0;
    border-right: 1.5px dashed #d0d0d0;
    z-index: 1;
    position: relative;
}

.feature-item::before,
.feature-item::after {
    position: absolute;
    font-size: 1.4rem;
    color: #f9f9f9;
    opacity: 0.6;
}

.feature-item:nth-child(1)::before {
    content: "9 am";
    transform: translateX(-50%);
    bottom: -31px;
    left: 0;
}

.feature-item:nth-child(1)::after {
    content: "10 am";
    transform: translateX(50%);
    bottom: -31px;
    right: 0;
}

.feature-item:nth-child(2)::before {
    content: "11 am";
    transform: translateX(-50%);
    bottom: -31px;
    left: 0;
}

.feature-item:nth-child(2)::after {
    content: "12 am";
    transform: translateX(50%);
    bottom: -31px;
    right: 0;
}

.feature__left-decor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    column-gap: 16px;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 13px;
    position: absolute;
    z-index: 2;
}

.feature__left-decor-desc {
    font-size: 1.4rem;
    line-height: 1.71;
}

/* .feature__left > div:nth-of-type(2) {
    top: -31px;
    left: -38px;
} */

.feature__left-decor:nth-child(2) {
    top: -31px;
    left: -38px;
}

.feature__left-decor:nth-child(3) {
    right: -158px;
    top: 172px;
}

.feature__left-decor:nth-child(4) {
    bottom: 34px;
    left: -38px;
}

.feature__left-decor:nth-child(2) .feature__left-decor-desc {
    background: linear-gradient(91.19deg, #f08d08 1.27%, #b88ed3 78.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.feature__left-decor:nth-child(3) .feature__left-decor-desc {
    background: linear-gradient(91.19deg, #f08d08 1.27%, #b88ed3 78.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.feature__left-decor:nth-child(4) .feature__left-decor-desc {
    background: linear-gradient(90deg, #0cce84 -3.41%, #ff2eb8 103.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.feature__decor-img-wrap {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #bdbdbd;
}

.feature__decor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature__trend {
    display: inline-block;
    position: absolute;
    top: 87px;
    right: 32px;
}

.feature__trend-item {
    font-family: "Public Sans";
    text-align: center;
    position: absolute;
    top: 8px;
    right: 32px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.14;
    color: #f9f9f9;
}

.feature__heading {
    max-width: 400px;
}

.feature__heading-strong {
    background: linear-gradient(to right, #eb9204, #83e868);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.feature__right-content {
    margin-top: 50px;
    display: grid;
    gap: 35px 23px;
    grid-template-columns: 1fr 1fr;
}

.feature__right-item {
    position: relative;
    padding-left: 46px;
}

.feature__right-item::before {
    content: url(../icon/feature-icon-1.svg);
    position: absolute;
    top: 3px;
    left: 0;
}

.feature__right-item:nth-child(2)::before {
    content: url(../icon/feature-icon-2.svg);
}

.feature__right-item:nth-child(3)::before {
    content: url(../icon/feature-icon-3.svg);
}

.feature__right-item:nth-child(4)::before {
    content: url(../icon/feature-icon-4.svg);
}

.feature__right-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #f9f9f9;
}

.feature__right-desc {
    margin-top: 8px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #858b93;
    max-width: 176px;
}

/* Design */
.design {
    margin-top: 140px;
}

.design-container {
    width: 1096px;
}

.design__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.design__heading {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.25;
    color: #f9f9f9;
    max-width: 500px;
}

.desgin__heading-strong {
    background: linear-gradient(#eb9204, #83e868);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.design__desc {
    margin-top: 30px;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #858b93;
    max-width: 700px;
}

.design__btn-wrap {
    margin-top: 44px;
    display: flex;
    column-gap: 17px;
}

.design__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
    background: #282c30;
    border-radius: 23px;
    outline: none;
    border: none;
    min-width: 170px;
    padding: 12px 20px;
}

.design__btn-desc {
    font-size: 1.4rem;
    color: #858b93;
}

.design__media {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "design__left design__center-top design__right"
        "design__left design__center-bottom design__right";
}

.design__left {
    grid-area: design__left;
    background: #191b1d;
    border-radius: 19px;
    padding: 60px 46px 55px;
    position: relative;
}

.design__left::after {
    position: absolute;
    top: 45px;
    right: 51px;
    content: url("../icon/3_dot.svg");
}

.design__left-heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.45;
    color: #ffffff;
    max-width: 230px;
}

.design__left-content {
    margin-top: 39px;
}

.design-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 334px;
    padding: 13px 18px;
    border-radius: 9px;
    border: 1px solid #282b2e;
}

.design-item + .design-item {
    margin-top: 14px;
}

.design-item-active {
    background: #313539;
}

.design-item__title-wrap {
    margin-left: 19px;
}

.design-item__title {
    font-size: 1.2rem;
    line-height: 1.25;
    color: #b3b3b3;
}

.design-item__title-active {
    color: #fff;
}

.design-item__desc {
    font-size: 1rem;
    line-height: 1.3;
    color: #616161;
    margin-top: 3px;
}

.design-item__desc-active {
    color: #91969e;
}

.design-item__img-list {
    display: flex;
    margin-left: auto;
}

.design-item__img-wrap + .design-item__img-wrap {
    margin-left: -10px;
}

.design-item__img {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.design-item__img-active {
    border: 1px solid #cd6336;
}

.design__center-top {
    grid-area: design__center-top;
    background: #191b1d;
    border-radius: 19px;
    padding: 28px 35px 10px 47px;
}

.design-daily {
    display: flex;
}

.design-daily__check-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: #6aea5c;
    border-radius: 12px;
    margin-right: 17px;
}

.design-daily__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.27;
    color: #ffffff;
}

.design-daily__desc {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #424b55;
}

.design-daily__desc-setting {
    align-self: flex-start;
    margin-left: auto;
}

.design-skeleton {
    margin-top: 22px;
    display: flex;
}

.design-skeleton__body {
    width: 238px;
    height: 17px;
    background: #272633;
    border-radius: 23px;
}

.design-skeleton__body::before {
    display: inline-block;
    content: "";
    width: 55px;
    height: 17px;
    background: #ff7667;
    border-radius: 23px;
}

.design-skeleton__desc {
    font-size: 1.6rem;
    line-height: 1.25;
    color: #8b8b8f;
    margin-left: 40px;
}

.design__center-bottom {
    grid-area: design__center-bottom;
    background: #191b1d;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design__center-bottom-inner {
    display: flex;
    align-items: center;
    padding: 12px;
}

.design-task-content {
    display: flex;
    flex-direction: column;
}

.design-task-content__setting {
    align-self: flex-end;
    margin-right: 22px;
}

.design-task-content__heading {
    margin-top: 13px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.27;
    color: #ffffff;
    margin-left: 34px;
}

.design-task-content__img {
    margin-left: -20px;
}

.design-task-content__users {
    display: flex;
    column-gap: 12px;
    margin-top: 25px;
}

.design-task-content__users-onl-desc,
.design-task-content__users-off-desc,
.design-task-content__users-onl-num,
.design-task-content__users-off-num {
    font-size: 1.4rem;
    line-height: 1.57;
    color: #d0d1d2;
}

.design-task-content__users-onl-num {
    color: #0cce84;
}

.design-task-content__users-off-num {
    color: #ff7667;
}

.design-task-content__users-decor {
    width: 30px;
    height: 4px;
    background: #0cce84;
    border-radius: 100px;
    margin-top: 12px;
}

.design__right {
    grid-area: design__right;
    background: #191b1d;
    border-radius: 19px;
    padding: 25px 33px;
}

.design__right-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.design__right-heading-wrap {
    display: flex;
    justify-content: space-between;
}

.design__right-heading-item {
    display: flex;
}

.design__right-heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.27;
    color: #ffffff;
}

.design__right-heading::after {
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff7667;
    margin-left: 2px;
}

.design__right-heading-decor {
    width: 4px;
    height: 4px;
    background: #ff7667;
}

.design__right-list {
    margin-top: 21px;
}

.design__right-item {
    display: flex;
    align-items: center;
    column-gap: 9px;
    padding-bottom: 7px;
    border-bottom: 1px solid #25282b;
}

.design__right-item + .design__right-item {
    margin-top: 14px;
}

.design__right-item:last-child {
    border: none;
}

.design__right-name {
    font-size: 12px;
    line-height: 15px;
    color: #d1d1d1;
}

.design__right-btn {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.25;
    color: #ffffff;
    margin-top: 32px;
    width: 129px;
    height: 37px;
    background: #ef8f00;
    border-radius: 7px;
}

/* Picture */
.picture {
    margin-top: 140px;
}

.picture__heading {
    max-width: 500px;
}

.picture__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.picture__heading-strong {
    background: linear-gradient(#eb9204, #83e868);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.picture__link {
    min-width: 218px;
    padding: 25px 50px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 18px;
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 2px solid #36383e;
    border-radius: 12px;
    margin-right: 98px;
}

.picture__content {
    display: flex;
    column-gap: 55px;
    margin-top: 23px;
    align-items: center;
}

.picture-item {
    width: 493px;
    padding: 30px 65px 37px 40px;
    border: 2px solid #282c30;
    border-radius: 15px;
}

.picture-item-active {
    background: #282c30;
}

.picture-item__heading {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.25;
    color: #f9f9f9;
}

.picture-item__desc {
    margin-top: 9px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #858b93;
}

.picture-list-img {
    flex: 1;
}

.picture-img {
    width: 348px;
    height: 263px;
    object-fit: cover;
    box-shadow: 0px 4px 89px 27px rgba(0, 0, 0, 0.4);
    border-radius: 31px;
}

.picture-img-wrap:nth-child(2) {
    margin-top: -100px;
    margin-left: 200px;
}

.picture-img-wrap:nth-child(3) {
    margin-top: -72px;
    margin-left: 25px;
}

